@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(216, 12%, 8%);

  .form {
    width: 350px;
    height: 370px;
    border-radius: 30px;
    background-color: hsl(213, 19%, 18%);
    padding: 30px;
    font-family: 'Overpass', sans-serif;

    .star {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: hsl(216, 12%, 24%);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 20px;
      }
    }

    .title {
      color: hsl(0, 0%, 100%);
      margin: 40px 0px 0px;
      font-size: 1.7rem;
    }

    .text {
      color: hsl(217, 12%, 63%);
      margin-top: 10px;
      font-size: .94rem;
      line-height: 25px;
    }

    .rating {
      display: flex;
      justify-content: space-between;
      margin: 35px 0px;

      .btn {
        @extend .star;
        border: none;
        outline: none;
        color: hsl(217, 12%, 63%);
        font-family: 'Overpass', sans-serif;
        font-size: 1.1rem;
        cursor: pointer;

        &:hover {
          background-color: hsl(25, 97%, 53%);
          color: hsl(0, 0%, 100%);
        }

        &:focus {
          background-color: hsl(217, 12%, 63%);
          color: hsl(0, 0%, 100%);
        }
      }
    }

    .submit {
      width: 100%;
      height: 40px;
      border: none;
      border-radius: 30px;
      background-color: hsl(25, 97%, 53%);
      color: hsl(0, 0%, 100%);
      font-family: 'Overpass', sans-serif;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      cursor: pointer;

      &:hover {
        background-color: hsl(0, 0%, 100%);
        color: hsl(25, 97%, 53%);
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .score {
      background-color: hsl(216, 12%, 24%);
      padding: 5px 20px;
      margin-top: 30px;
      border-radius: 30px;
      color: hsl(25, 97%, 53%);
    }

    .title {
      margin: 20px 0px 5px;
    }

    .text {
      padding: 0px 5px;
      line-height: 25px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .container {
    .form {
      width: 300px;
      height: 330px;
      padding: 25px;
      border-radius: 15px;

      .star {
        width: 45px;
        height: 45px;

        img {
          width: 17px;
        }
      }

      .title {
        margin: 20px 0px 0px;
      }
    }
  }
}